{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
    <!-- <div class="container">
        <div class="row">
            <h3>Login Sebagai</h3>
        </div>
    </div> -->
    <div class="row justify-content-center" style="margin-bottom: 20px;">
        <h4>Menu Admin</h4>
    </div>
    <div class="container justify-content-center" id="role-select">
        <div class="container d-flex justify-content-center" style="margin-bottom: 20px;">
            <form action="{{ url_for('admin') }}" id="my-form" method="POST" enctype=multipart/form-data style="width: 30%;">
                <div class="row">
                    <!-- <input type="hidden" id="mapel "name="mapel" value=""> -->
                    <button type="submit" class="btn btn-outline-primary btn-lg" id="pilihan" name="pilihan" value="data_siswa_new" style="min-width: 400px;">Data Siswa</button>
                </div>
                &nbsp;
                <div class="row">
                    <!-- <input type="hidden" id="mapel "name="mapel" value=""> -->
                    <button type="submit" class="btn btn-outline-primary btn-lg" id="pilihan" name="pilihan" value="data_guru_new" style="min-width: 400px;">Data Guru</button>
                </div>
                &nbsp;
                <div class="row">
                    <!-- <input type="hidden" id="mapel "name="mapel" value=""> -->
                    <button type="submit" class="btn btn-outline-primary btn-lg" id="pilihan" name="pilihan" value="update_mapel" style="min-width: 400px;">Update Mata Pelajaran</button>
                </div>
                &nbsp;
                <div class="row">
                    <!-- <input type="hidden" id="mapel "name="mapel" value=""> -->
                    <button type="submit" class="btn btn-outline-primary btn-lg" id="pilihan" name="pilihan" value="plot_pengajaran" style="min-width: 400px;">Plotting Pengajaran</button>
                </div>
                &nbsp;
                <div class="row">
                    <!-- <input type="hidden" id="mapel "name="mapel" value=""> -->
                    <button type="submit" class="btn btn-outline-primary btn-lg" id="pilihan" name="pilihan" value="plot_wali" style="min-width: 400px;">Plotting Wali Kelas</button>
                </div>
                &nbsp;
            </form>
        </div>
    <!--  -->
    <div class="row justify-content-center">
        <div class="col-4">
            {% if msg == "plotting mapel" %}
            <div class="alert alert-success" role="alert">
                Plotting guru mata pelajaran berhasil
            </div>
            <!-- {% elif msg == "reset passwd" %} 
            <div class="alert alert-success" role="alert">
                Reset password berhasil
            </div> -->
            <!-- {% elif msg == "kenaikan" %}
            <div class="alert alert-success" role="alert">
                Update kenaikan kelas/kelulusan berhasil
            </div> --> -->

            {% endif %}
        </div>
    </div>
    <!--  -->
    </div>
    
{% endblock %}