<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> 
    {% block additional%}{% endblock %}
</head>
<body>
    <div class="container d-flex justify-content-end" style="margin: 30px auto;">
        <a href="{{url_for('clearSession')}}"><button class="btn btn-secondary btn-md">Logout</button></a>
    </div>
    <div class="container kop">
        <table style="width: 100%; min-height: 150px;" id="Table-border">
            <tbody id="table-kop">
                <tr id="Content-border">
                    <th  style="width: 15%;">
                        <p>Logo</p>
                    </th>
                    <th  style="width: 85%;">
                        <p>Header</p>
                    </th>
                </tr>


            </tbody>
        </table>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>