{% extends "base_raport.html" %}
{% block title %}Input Nilai{% endblock %}
{% block kembali %}
    {% if lihat == "1": %}
    <div class="container" style="margin: 20px auto;">
        <div class="d-flex justify-content-end">
            <a href="{{ url_for('mapel_rekap', eval_type=eval_type, pelajaran=pelajaran, kelas=kelas)}}"  class="btn btn-primary btn-md" style="width: 150px;" >Kembali</a>
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block content %}

    <div class="container kop">
        <table style="width: 100%;">
            <tbody id="table-kop">
                <tr>
                    <td style="width: 20%;">
                        <h6><b>Nama Sekolah</b></h6>
                    </td>
                    <td style="width: 2%;">
                        <h6><b>:</b></h6>
                    </td>
                    <td style="width: 32%;">
                        <h6><b>SMP Binar Ilmu</b></h6>
                    </td>

                    <td style="width: 23%;">
                        <h6><b>Nama Peserta Didik</b></h6>
                    </td>
                    <td style="width: 2%;">
                        <h6><b>:</b></h6>
                    </td>
                    <td style="width: 20%;">
                        <h6><b>{{nilai_sel[1]}}</b></h6>
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%;">
                        <h6><b>Mata Pelajaran</b></h6>
                    </td>
                    <td style="width: 2%;">
                        <h6><b>:</b></h6>
                    </td>
                    <td style="width: 32%;">
                        <h6><b>{{pelajaran}}</b></h6>
                    </td>

                    <td style="width: 23%;">
                        <h6><b>Kelas</b></h6>
                    </td>
                    <td style="width: 2%;">
                        <h6><b>:</b></h6>
                    </td>
                    <td style="width: 20%;">
                        {% if kelas == "VII" :%}
                            <h6><b>{{kelas}} (Tujuh)</b></h6>
                        {% elif kelas == "VIII" :%}
                            <h6><b>{{kelas}} (Delapan)</b></h6>
                        {% elif kelas == "IX" :%}
                            <h6><b>{{kelas}} (Sembilan)</b></h6>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%;">
                        <h6><b>Guru Mapel</b></h6>
                    </td>
                    <td style="width: 2%;">
                        <h6><b>:</b></h6>
                    </td>
                    <td style="width: 32%;">
                        <h6><b>{{nama_guru}}</b></h6>
                    </td>

                    <td style="width: 23%;">
                        <h6><b>Semester</b></h6>
                    </td>
                    <td style="width: 2%;">
                        <h6><b>:</b></h6>
                    </td>
                    <td style="width: 20%;">
                        {% if semester == 1 :%}
                            <h6><b>{{semester}} (Satu)</b></h6>
                        {% elif semester == 2 :%}
                            <h6><b>{{semester}} (Dua)</b></h6>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 1. Sikap -->
    <div class="container" style="margin-top: 25px; margin-bottom: 25px;">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td style="text-align: left;">
                        <h5><b>1. Sikap</b></h5>
                    </td>
                </tr>
                <tr id="Content-border"  style="background-color: #DCDCDC;">
                    <td style="width: 12%;">
                        <h6><b>Aspek</b></h6>
                    </td>
                    <td style="width: 12%;">
                        <h6><b>Predikat</b></h6>
                    </td>
                    <td style="width: 76%;">
                        <h6><b>Deskripsi</b></h6>
                    </td>
                </tr>
                <tr id="Content-border">
                    <td style="width: 12%;">
                        <p>Spiritual</p>
                    </td>
                    <td style="width: 12%;">
                        <p>{{nilai_sel[2]}}</p>
                    </td>
                    <td style="width: 76%; text-align: justify;">
                        <div class="d-flex align-items-center" style="min-height: 80px;">
                            <p>{{nilai_sel[3]}}</p>
                        </div>
                    </td>
                </tr>
                <tr id="Content-border">
                    <td style="width: 12%;">
                        <p>Social</p>
                    </td>
                    <td style="width: 12%;">
                        <p>{{nilai_sel[4]}}</p>
                    </td>
                    <td style="width: 76%; text-align: justify;">
                        <div class="d-flex align-items-center" style="min-height: 80px;">
                            <p>{{nilai_sel[5]}}</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 2.Pengetahuan dan Keterampilan -->
    <div class="container" style="margin-top: 25px; margin-bottom: 0px;">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td style="text-align: left;">
                        <h5><b>2. Pengetahuan dan Keterampilan</b></h5>
                    </td>
                </tr>
                <tr id="Content-border"  style="background-color: #DCDCDC;">
                    <td style="width: 70%;">
                        <h6><b>Aspek materi (pokok-pokok bahasan)</b></h6>
                    </td>
                    <td style="width: 15%;">
                        <h6><b>Pengetahuan</b></h6>
                    </td>
                    <td style="width: 15%;">
                        <h6><b>Keterampilan</b></h6>
                    </td>
                </tr>
                {% for i in range(jlh_aspek):%}
                <tr id="Content-border">
                    <td style="width: 70%; text-align: left;">
                        <p>{{aspek_materi[i]}}</p>
                    </td>
                    <td style="width: 15%;">
                        <p>{{nilai_sel[6+(i*2)]}}</p>
                    </td>
                    <td style="width: 15%; text-align: center;">
                        <div class="d-flex align-items-center justify-content-center">
                            <p>{{nilai_sel[6+(i*2)+1]}}</p>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <tr id="Content-border">
                    <td style="width: 70%; text-align: left;">

                        <p>{{eval_type}}</p>

                    </td>
                    <td style="width: 15%;">
                        <p>{{nilai_sel[6+((jlh_aspek-1)*2)+2]}}</p>
                    </td>
                    <td style="width: 15%; text-align: center;">
                        <div class="d-flex align-items-center justify-content-center">
                            <p>-</p>
                        </div>
                    </td>
                </tr>
                <tr id="Content-border">
                    <td style="width: 70%; text-align: left;">
                        <p>Nilai Akhir pengetahuan dan keterampilan</p>
                        <p>(75% rata-rata nilai harian + 25% nilai {{eval_type}})</p>
                    </td>
                    <td style="width: 15%;">
                        <p>{{nilai_sel[6+((jlh_aspek-1)*2)+3]}}</p>
                    </td>
                    <td style="width: 15%; text-align: center;">
                        <div class="d-flex align-items-center justify-content-center">
                            <p>{{nilai_sel[6+((jlh_aspek-1)*2)+4]}}</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 3. Nilai akhir -->
    {% if lihat != "1" and  char_count > 700 :%}
    <div class="container" style="position: absolute; top: 1350px;">
        <!-- Komentar -->
        <div class="container" style="margin-top: 25px; margin-bottom: 0px;">
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="text-align: left;">
                            <h5>3. Catatan Guru Mapel</h5>
                        </td>
                    </tr>
                    <form action="{{ url_for('mapel_rekap')}}" id="my-form" method="POST" enctype=multipart/form-data style="width: 30%;">
                        <input type="hidden" id="eval_type "name="eval_type" value="{{eval_type}}">
                        <input type="hidden" id="pelajaran "name="pelajaran" value="{{pelajaran}}">
                        <input type="hidden" id="kelas "name="kelas" value="{{kelas}}">
                        <input type="hidden" id="lihat "name="lihat" value="None">
                        <input type="hidden" id="cetak_semua"name="cetak_semua" value="0">
                        <input type="hidden" id="nisn_siswa"name="nisn_siswa" value="{{nisn_siswa}}">
                    <tr >
                        <td id="Content-border" style="text-align: justify;">
                            <div class="d-flex align-items-center" style="min-height: 80px;">
                                {% if lihat =="1" :%}
                                <textarea id="komentar" name="komentar" rows="2" maxlength="2000" style="width:100%;min-height: 80px; min-width: 1110; max-width: 1110px;">{{komentar_siswa_sel}}</textarea>
                                {% else: %}
                                <div style="margin: 0px 5px;">
                                    <p>{{komentar_siswa_sel}}</p>
                                </div>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% if lihat =="1" :%}
                    <tr>
                        <td class="d-flex justify-content-end" style="width: 100%; margin-top: 20px;">
                            <button type="submit" class="btn btn-outline-primary btn-md" id="save_komentar" name="save_komentar" value="1" style="min-width: 100px;">Submit Catatan</button>
                        </td>
                    </tr>
                    {% endif %}
                    </form>
                </tbody>
            </table>
        </div>

        <div class="container" style="margin-top: 25px;">
            <div class="row" style="margin: 0px 15px;">
                <div class="col-3">
                    <p>Guru Mata Pelajaran</p>
                </div>
            </div>
            <div class="row" style="margin: 0px 15px;">
                <div class="col-3">
                    <!-- <p>{{pelajaran}}</p> -->
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 60px; margin-bottom: 0px;">
            <div class="row" style="margin: 0px 15px; ">
                <div class="col-6">
                    <p><b><u>{{nama_guru}}</u></b></p>
                </div>
            </div>
        </div>

        {% if lihat == "1": %}
        <div class="container" style="margin-top: 100px; margin-bottom: 0px;" >
            <div class="row">
    <!--             

                {% if semester == 1: %}
                    <p><i>Raport {{eval_type}} Ganjil Pesantren Binar Ilmu Tahun Ajaran {{tahun_ajaran}}</i></p>
                {% else: %}
                    <p><i>Raport {{eval_type}} Genap Pesantren Binar Ilmu Tahun Ajaran {{tahun_ajaran}}</i></p>
                {% endif %} -->
                <!-- {% if semester == 1: %}
                    <p><i>Raport {{eval_type}} Ganjil SMP Binar Ilmu tahun ajaran {{tahun_ajaran}}</i></p>
                {% else: %}
                    <p><i>Raport {{eval_type}} Genap SMP Binar Ilmu tahun ajaran {{tahun_ajaran}}</i></p>
                {% endif %} -->

            </div>
        </div><br><br>
        <div class="d-flex align-items-bottom">
            <p style="top: 1275px;">&nbsp;</p>
        </div>
        {% else: %}
        <!-- <div class="container" style="margin-top: 50px; margin-bottom: 0px;">
            <div class="row" style="position: absolute; top: 1255px; margin-bottom: 0px;">

                {% if semester == 1: %}
                    <p style="margin: 0px;"><i>Raport {{eval_type}} Ganjil SMP Binar Ilmu tahun ajaran {{tahun_ajaran}}</i></p>
                {% else: %}
                    <p style="margin: 0px;"><i>Raport {{eval_type}} Genap SMP Binar Ilmu tahun ajaran {{tahun_ajaran}}</i></p>
                {% endif %}

            </div>
        </div> -->
        {% endif %}
    </div>
    {% else :%}
        <!-- Komentar Normal 1 Halaman-->
        <div class="container" style="margin-top: 25px; margin-bottom: 0px;">
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="text-align: left;">
                            <h5>3. Catatan Guru Mapel</h5>
                        </td>
                    </tr>
                    <form action="{{ url_for('mapel_rekap')}}" id="my-form" method="POST" enctype=multipart/form-data style="width: 30%;">
                        <input type="hidden" id="eval_type "name="eval_type" value="{{eval_type}}">
                        <input type="hidden" id="pelajaran "name="pelajaran" value="{{pelajaran}}">
                        <input type="hidden" id="kelas "name="kelas" value="{{kelas}}">
                        <input type="hidden" id="lihat "name="lihat" value="None">
                        <input type="hidden" id="cetak_semua"name="cetak_semua" value="0">
                        <input type="hidden" id="nisn_siswa"name="nisn_siswa" value="{{nisn_siswa}}">
                    <tr >
                        <td id="Content-border" style="text-align: justify;">
                            <div class="d-flex align-items-center" style="min-height: 80px;">
                                {% if lihat =="1" :%}
                                <textarea id="komentar" name="komentar" rows="2" maxlength="2000" style="width:100%;min-height: 80px; min-width: 1110; max-width: 1110px;">{{komentar_siswa_sel}}</textarea>
                                {% else: %}
                                <div style="margin: 0px 5px;">
                                    <p>{{komentar_siswa_sel}}</p>
                                </div>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% if lihat =="1" :%}
                    <tr>
                        <td class="d-flex justify-content-end" style="width: 100%; margin-top: 20px;">
                            <button type="submit" class="btn btn-outline-primary btn-md" id="save_komentar" name="save_komentar" value="1" style="min-width: 100px;">Submit Catatan</button>
                        </td>
                    </tr>
                    {% endif %}
                    </form>
                </tbody>
            </table>
        </div>

        <div class="container" style="margin-top: 25px;">
            <div class="row" style="margin: 0px 15px;">
                <div class="col-3">
                    <p>Guru Mata Pelajaran</p>
                </div>
            </div>
            <div class="row" style="margin: 0px 15px;">
                <div class="col-3">
                    <!-- <p>{{pelajaran}}</p> -->
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 60px; margin-bottom: 0px;">
            <div class="row" style="margin: 0px 15px; ">
                <div class="col-6">
                    <p><b><u>{{nama_guru}}</u></b></p>
                </div>
            </div>
        </div>

        {% if lihat == "1": %}
        <div class="container" style="margin-top: 100px; margin-bottom: 0px;" >
            <div class="row">
    <!--             

                {% if semester == 1: %}
                    <p><i>Raport {{eval_type}} Ganjil Pesantren Binar Ilmu Tahun Ajaran {{tahun_ajaran}}</i></p>
                {% else: %}
                    <p><i>Raport {{eval_type}} Genap Pesantren Binar Ilmu Tahun Ajaran {{tahun_ajaran}}</i></p>
                {% endif %} -->
                <!-- {% if semester == 1: %}
                    <p><i>Raport {{eval_type}} Ganjil SMP Binar Ilmu tahun ajaran {{tahun_ajaran}}</i></p>
                {% else: %}
                    <p><i>Raport {{eval_type}} Genap SMP Binar Ilmu tahun ajaran {{tahun_ajaran}}</i></p>
                {% endif %} -->

            </div>
        </div><br><br>
        <div class="d-flex align-items-bottom">
            <p style="top: 1275px;">&nbsp;</p>
        </div>
        {% else: %}
        <!-- <div class="container" style="margin-top: 50px; margin-bottom: 0px;">
            <div class="row" style="position: absolute; top: 1255px; margin-bottom: 0px;">

                {% if semester == 1: %}
                    <p style="margin: 0px;"><i>Raport {{eval_type}} Ganjil SMP Binar Ilmu tahun ajaran {{tahun_ajaran}}</i></p>
                {% else: %}
                    <p style="margin: 0px;"><i>Raport {{eval_type}} Genap SMP Binar Ilmu tahun ajaran {{tahun_ajaran}}</i></p>
                {% endif %}

            </div>
        </div> -->
        {% endif %}
    {% endif %}

{% endblock %}
