{% extends "base.html" %}
{% block title %}Plotting Pengajaran{% endblock %}
{% block content %}
    <!-- <div class="container">
        <div class="row">
            <h3>Login Sebagai</h3>
        </div>
    </div> -->
    <div class="container d-flex justify-content-end" >
        <div>
            <a href="{{ url_for('admin')}}"  class="btn btn-outline-primary btn-md" style="width: 150px;" >Kembali</a>
        </div>
    </div>
    <!--  -->
    <div class="row justify-content-center" style="margin-bottom: 20px;">
        <h4>Plotting Wali Kelas</h4>
    </div>
    <!--  -->

    &nbsp;
    <div class="container" style="margin-bottom: 50px;">
        <div class="row justify-content-center">
        <form action="{{ url_for('plot_wali') }}" id="my-form" method="POST" enctype=multipart/form-data >
        <table class="table table-striped" style="width: 400px">
            <thead>
                <tr>
                    <th style="width: 50%;">Kelas</th>
                    <th style="width: 50%;">Wali Kelas</th>
                </tr>
            </thead>
                <tbody>
                    {% for i in range(jlh_list): %}
                    <tr>
                        <td style="max-height: 10px; padding: 4px;width: 50%; text-align: center;">
                            <p>{{list_kelas[i]}}</p>
                        </td>
                        
                        <td style="max-height: 10px; padding: 4px;width: 25%;text-align: center;">
                            <div class="input-group" style="width: 300px">
                            <select class="custom-select" required name="list_wali[]">
                                {% for j in range(jlh_guru)%}
                                {% if list_guru[j] == list_wali[i] %}
                                <option value="{{list_guru[j]}}" selected>{{list_guru[j]}}</option>
                                {% else %}
                                <option value="{{list_guru[j]}}">{{list_guru[j]}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            </div>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>           
        </table>   
        </div>
        &nbsp;
        <div class="container d-flex justify-content-end">
            <div class="row">
                <button type="submit" class="btn btn-outline-primary btn-lg" id="submit" name="submit" value="1" style="min-width: 200px;">Submit</button>
            </div>
        </div>
        </form>
    </div>
    <script>


        // $('.dropdwn').on('click', function() {
        //     $(this).val('');
        // });
        // $('#kelas_siswa').on('mouseleave', function() {
        //     if ($(this).val() == '') {
        //         $(this).val('{{kelas_siswa}}');
        //     }
        // });
    </script>
    
{% endblock %}