{% extends "base.html" %}
{% block title %}Tambah Guru{% endblock %}
{% block content %}
    <!-- <div class="container">
        <div class="row">
            <h3>Login Sebagai</h3>
        </div>
    </div> -->
    <div class="container d-flex justify-content-end" >
        <div>
            <a href="{{ url_for('data_guru')}}"  class="btn btn-outline-primary btn-md" style="width: 150px;" >Kembali</a>
        </div>
    </div>
    &nbsp;
    <div class="container" id="" style="width: 100%;">
        <form action="{{ url_for('tambah_guru') }}" id="my-form" method="POST" enctype=multipart/form-data>


            <table style="text-align:center; vertical-align : middle; width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 40%;"></td>
                        <td style="width: 9%; text-align: start;">
                            <h5>ID Guru</h5>
                        </td>
                        <td style="width: 1%; text-align: center; padding-left: 0px;padding-right: 0px;">
                            <h5>:</h5>
                        </td>
                        <td style="width: 50%; text-align: start; padding-left: 0px;">
                            <h5>{{id_now}}</h5>
                            <input type="hidden" id="id_now"name="id_now" value="id_now">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 40%;"></td>
                        <td style="width: 9%; text-align: start;">
                            <h5>Nama</h5>
                        </td>
                        <td style="width: 1%; text-align: center; padding-left: 0px;padding-right: 0px;">
                            <h5></h5>
                        </td>
                        <td style="width: 50%; text-align: start; padding-left: 0px;">
                            <input type="text" id="nama" name="nama" value="{{nama}}">
                        </td>
                    </tr>
                </tbody>
            </table>
            &nbsp;
            <table style="text-align:center; vertical-align : middle; width: 100%;">
                <tbody>
                    <tr>
                        <td colspan="3"  style="width: 80%;">
                        </td>
                        <td style="width: 20%;">
                            <button type="submit" class="btn btn-outline-primary btn-md" id="tambah" name="tambah" value="1" style="width: 150px;">Tambah</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    
{% endblock %}