{% extends "base.html" %}
{% block title %}Data Siswa{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-end" >
        <div>
            <a href="{{ url_for('data_siswa_new')}}"  class="btn btn-outline-primary btn-md" style="width: 150px;" >Kembali</a>
        </div>
    </div>
    &nbsp;
    <div class="row justify-content-center" style="margin-bottom: 20px;">
        <h4>Update Kenaikan Kelas/ Kelulusan</h4>
    </div>

<div class="container">
<form action="{{ url_for('update_naik') }}" method="POST" enctype=multipart/form-data>
<!--  -->
    <div class="row justify-content-center">
        <div class="col-4">
            Pilih kelas
        </div>
    </div>
<!--  -->
    <div class="row justify-content-center" style="margin-top: 10px; margin-bottom: 10px">
        <div class="col-4">
        <div class="input-group" style="width: 300px">
          <select class="custom-select" required name="pilih_kelas">
            {% if tingkat == "SMP" %}
            {% for i in range(3)%}
            {% if (i+7) == kelas %}
            <option value="{{i+7}}" selected>Kelas {{list_kelas_rom[i]}}</option>
            {% else %}
            <option value="{{i+7}}">Kelas {{list_kelas_rom[i]}}</option>
            {% endif %}
            {% endfor %}
            {% else %}
            {% for i in range(3)%}
            {% if (i+10) == kelas %}
            <option value="{{i+10}}" selected>Kelas {{list_kelas_rom[i]}}</option>
            {% else %}
            <option value="{{i+10}}">Kelas {{list_kelas_rom[i]}}</option>
            {% endif %}
            {% endfor %}
            {% endif %}
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
              Tampilkan
            </button>
          </div>
        </div>
        </div>
    </div>
<!--  -->
    <div class="row justify-content-center">
        <table class="table table-striped" style="width: 500px">
            <thead>
                <tr>
                    <th style="width: 10%; text-align: center;">No.</th>
                    <th style="width: 70%; text-align: center;">Nama</th>
                    <th><input type="checkbox" onchange="checkAll(this)"/></th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(data_len) %}
                <tr>
                    <td style="text-align: center;">{{i+1}}</td>
                    <td style="width: 70%; text-align: left;">{{nama_list[i]}}</td>
                    <td>
                    <input
                        type="checkbox"
                        name="list_naik"
                        value="{{nisn_list[i]}}"
                    />
                    </td>
                </tr>
                {% endfor %}
            </tbody>  
        </table>
    </div>
<!--  -->
    <div class="row justify-content-end" style="margin-bottom: 20px;">
        <div class="col-4">
            <button class="btn btn-outline-primary" type="submit" name="submit_kenaikan" value="1">
              Submit
            </button>
        </div>
    </div>
<!--  -->
</form>
<!--  -->
</div>

<script type="text/javascript">
 function checkAll(ele) {
      var checkboxes = document.getElementsByTagName('input');
      if (ele.checked) {
          for (var i = 0; i < checkboxes.length; i++) {
              if (checkboxes[i].type == 'checkbox'  && !(checkboxes[i].disabled) ) {
                  checkboxes[i].checked = true;
              }
          }
      } else {
          for (var i = 0; i < checkboxes.length; i++) {
              if (checkboxes[i].type == 'checkbox'  && !(checkboxes[i].disabled) ) {
                  checkboxes[i].checked = false;
              }
          }
      }
  }
</script>

{% endblock %}