{% extends "base.html" %}
{% block title %}Update Mata Pelajaran{% endblock %}
{% block content %}
    <!-- <br><br><br><br> -->
    <div class="container d-flex justify-content-end" >
        <div>
            <a href="{{ url_for('admin')}}"  class="btn btn-outline-primary btn-md" style="width: 150px;" >Kembali</a>
        </div>
    </div>
<!--  -->
    <div class="row justify-content-center" style="margin-bottom: 20px;">
        <h4>Update Mata Pelajaran</h4>
    </div>
<!--  -->
<div class="container" style="margin-bottom: 50px;">
<!--  -->
<div class="row justify-content-center" style="margin-bottom: 20px;">
    <div class="col-4">
        <a href="{{ url_for('download_files', filename='list_mapel.xlsx') }}">
            Unduh template</a>
    </div>
</div>
<!--  -->
    <div class="row justify-content-center">
        <div class="col-4">
            Pilih kelas
        </div>
    </div>
<!--  -->
    <div class="row justify-content-center" style="margin-top: 10px; margin-bottom: 10px">
        <div class="col-4">
        <div class="input-group" style="width: 300px">
        <form action="{{ url_for('update_mapel_sma') }}" method="POST" enctype=multipart/form-data>
          <select class="custom-select" required name="pilih_kelas">
            {% for i in range(3)%}
            <option value="{{i+10}}">Kelas {{list_kelas_rom[i]}}</option>
            {% endfor %}
          </select>
        </div>
        </div>
    </div>
<!--  -->
<div class="row justify-content-center" style="margin-bottom: 20px;">
    <div class="col-4">
        <p>Unggah data mata pelajaran</p>
    </div>
</div>
<!--  -->
<div class="row justify-content-center" style="margin-bottom: 20px;">
    <div class="col-4">
        <div class="custom-file" >
            <input type="file" class="custom-file-input" accept=".xlsx" name="file" required>
            <label class="custom-file-label" for="customFile" >Pilih dokumen..</label>
        </div>
    </div>
</div>
<!--  -->
<div class="row justify-content-center" style="margin-bottom: 20px;">
    <div class="col-4">
        <button type="submit" class="btn btn-outline-primary btn-md" style="width: 150px;">Unggah</button>
        </form>
    </div>
</div>
<!--  -->
<!--  -->
<div class="row justify-content-center" style="margin-top: 20px;">
    <div class="col-4">
        {% if msg == "format file salah" %}
        <div class="alert alert-danger" role="alert">
            Format file salah
        </div>
        {% endif %}
    </div>
</div>
<!--  -->
</div>

<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
{% endblock %}