{% extends "base.html" %}
{% block title %}Update Kelas{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-end" >
        <div>
            <a href="{{ url_for('update_kelas_kelulusan')}}"  class="btn btn-outline-primary btn-md" style="width: 150px;" >Kembali</a>
        </div>
    </div>
    &nbsp;
    <div class="container" style="margin-bottom: 50px;">
        <table class="table" id="table">
            <tbody>
                <tr>
                    <td style="width: 100%;padding: 0px;">
                        <table class="table" id="table" >
                            <tbody>
                                <tr>
                                    <td>
                                        <thead>
                                            <tr>
                                                <th style="width: 10%; max-height: 10px;">No.</th>
                                                <th style="width: 20%;">NISN</th>
                                                <th style="width: 50%; text-align: left;">Nama</th>
                                                <!-- <th style="width: 10%;"> </th>
                                                <th style="width: 10%;"> </th> -->
                                                <th style="width: 20%;">
                                                    <input type="checkbox" style="min-width: 25px; min-height: 25px;" onchange="checkAll(this)" name="chk[]" />
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in range(jlh_list): %}
                                            {% if i%2 == 0 :%}
                                            <tr>
                                            {% else: %}
                                            <tr style="background-color: #DCDCDC">
                                            {% endif %}
                                                <form action="{{ url_for('wali_rekap')}}" id="foo_form" method="POST" enctype=multipart/form-data style="width: 30%;">
                                                    <!-- <input type="hidden" id="eval_type "name="eval_type" value="{{eval_type}}"> -->
                                                    <!-- <input type="hidden" id="pelajaran "name="pelajaran" value="{{pelajaran}}"> -->
                                                    <input type="hidden" id="kelas "name="kelas" value="{{kelas}}">
                                                    <!-- <input type="hidden" id="aspek_materi "name="aspek_materi" value="{{aspek_materi}}"> -->
                                                    <!-- <input type="hidden" id="cetak_semua "name="cetak_semua" value="0"> -->
                                                    <input type="hidden" id="nisn_siswa "name="nisn_siswa" value="{{list_nisn[i]}}">
                                                    <td style="max-height: 5px; padding: 0px; width: 10%;">{{i+1}}.</td>
                                                    <td style="max-height: 5px; padding: 0px; width: 20%;">{{list_nisn[i]}}</td>
                                                    <td style="max-height: 5px; padding: 0px; width: 50%; text-align: left;">{{list_siswa[i]}}</td>
                                                    <!-- <td style="max-height: 5px; padding: 0px; width: 10%;">
                                                        <button type="submit" class="btn btn-outline-primary btn-sm" id="lihat" name="lihat" value="1" style="min-width: 100px;">Lihat</button>
                                                    </td>
                                                    <td style="max-height: 5px; padding: 0px; width: 10%;">
                                                        <button type="submit" class="btn btn-outline-primary btn-sm" id="lihat" name="lihat" value="0" style="min-width: 100px;">Cetak</button>
                                                    </td> -->
                                                    <td style="max-height: 5px; padding: 0px; width: 20%;">
                                                        <input type="checkbox"  style="min-width: 100px; width: auto; min-height: 25px;" class="check-item" name="chk-{{i}}" id="chk-{{i}}"  onchange="stateChkbx('chk-{{i}}')" value="{{list_siswa[i]}}"/>
                                                    </td>
                                                </form>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- <td  colspan="4" class="">
                                        <div class="d-flex justify-content-end">
                                        <form action="{{ url_for('role_wali_menu')}}" id="generate" method="POST" enctype=multipart/form-data>
                                            <input type="hidden" id="eval_type "name="eval_type" value="{{eval_type}}">
                                            <input type="hidden" id="mapel "name="mapel" value="{{pelajaran}}">
                                            <input type="hidden" id="kelas "name="kelas" value="{{kelas}}">
                                            <button type="submit" class="btn btn-outline-primary btn-lg justify-content-end" id="generate" name="generate" value="1" style="min-width: 100px;">Generate Ulang</button>
                                        </form>
                                        </div>
                                    </td>
                                    <td colspan="1">
                                        <div class="">
                                        <form action="{{ url_for('wali_rekap')}}" id="cetak_semua" method="POST" enctype=multipart/form-data style="width: 30%;">
                                            <input type="hidden" id="eval_type "name="eval_type" value="{{eval_type}}">
                                            <input type="hidden" id="pelajaran "name="pelajaran" value="{{pelajaran}}">
                                            <input type="hidden" id="kelas"name="kelas" value="{{kelas}}">
                                            <input type="hidden" id="lihat"name="lihat" value="0">
                                            <button type="submit" class="btn btn-outline-primary btn-lg" id="cetak_semua" name="cetak_semua" value="1" style="min-width: 100px;">Cetak Semua</button>
                                        </form>
                                        </div>
                                    </td> -->
                                    <td colspan="3">
                                        
                                    </td> 
                                    <td colspan="1">
                                        <div class="">
                                        <form action="{{ url_for('update_kelas_kelulusan')}}" id="cetak_semua" method="POST" enctype=multipart/form-data style="width: 30%;">
                                                    <!-- <input type="hidden" id="eval_type "name="eval_type" value="{{eval_type}}"> -->
                                                    <!-- <input type="hidden" id="pelajaran "name="pelajaran" value="{{pelajaran}}"> -->
                                                    <input type="hidden" id="kelas"name="kelas" value="{{kelas}}">
                                                    <input type="hidden" id="cetak_semua "name="cetak_semua" value="0">
                                                    <div id="wrapper-chkbx"></div>
                                                    <button type="submit"  class="btn btn-outline-success btn-lg" id="update_kelas" name="update_kelas" value="1" style="min-width: 100px;">Update Kelas</button>
                                        </form>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>


                    <!-- <td style="width: 10%;padding: 0px;">
                        <table class="table" id="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <thead>
                                            <tr>
                                                <th style="max-height: 10px;">
                                                    <input type="checkbox" style="min-width: 17px; min-height: 17px;" onchange="checkAll(this)" name="chk[]" />
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <form action="{{ url_for('wali_rekap')}}" id="cetak_semua" method="POST" enctype=multipart/form-data style="width: 30%;">
                                        
                                            {% for i in range(jlh_list): %}
                                            {% if i%2 == 0 :%}
                                            <tr>
                                            {% else: %}
                                            <tr style="background-color: #DCDCDC">
                                            {% endif %}
                                                <td style="max-height: 5px; padding: 0px; width: 15%;">
                                                    <input type="checkbox"  style="min-width: 100px;" name="chkbox[]" id="chkbox[]"  value="{{list_siswa[i]}}"/>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td class="justify-content-end">
                                                    <input type="hidden" id="eval_type "name="eval_type" value="{{eval_type}}">
                                                    <input type="hidden" id="pelajaran "name="pelajaran" value="{{pelajaran}}">
                                                    <input type="hidden" id="kelas"name="kelas" value="{{kelas}}">
                                                    <input type="hidden" id="cetak_semua "name="cetak_semua" value="0">
                                                    <button type="submit"  class="btn btn-outline-success btn-lg" id="update_kelas" name="update_kelas" value="1" style="min-width: 100px;">Update Kelas</button>
                                                </td>
                                            </tr>
                                            </form>
                                        </tbody>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td> -->



                </tr>
            </tbody>            
        </table>
    </div>



    <!-- <th style="width: 10%;"><input type="checkbox" style="width: 25px; height: 25px;" onchange="checkAll(this)" name="chk[]" ></th> -->
    <!-- <td style="max-height: 5px; padding: 0px; width: 10%;">
                                            <input type="checkbox" class="foo activitiescb justify-content-center" style="width: 25px; height: 25px;" id="foo_select_{{i}}" name="chkbox[]" value="{{list_siswa[i]}}"/>
                                        </td> -->
    

    
    <script type="text/javascript">
        var list_checked = [];

        function checkAll(ele) {
            //  var checkboxes = document.getElementsByTagName('input');
             var checkboxes = document.getElementsByClassName("check-item");
             if (ele.checked) {
                list_checked = []
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].type == 'checkbox' ) {
                        checkboxes[i].checked = true;
                        var valueChk = checkboxes[i].value;
                        list_checked.push(valueChk);
                    }
                }
                var new_input = ''
                for (var i = 0; i < list_checked.length; i++) {
                    new_input = new_input+'<input type="hidden" name="chkbox[]" id="chkbox[]" value="'+list_checked[i]+'">'
                    //Do something
                }

                document.getElementById("wrapper-chkbx").innerHTML = new_input;

             } else {
                list_checked = []
                 for (var i = 0; i < checkboxes.length; i++) {
                     if (checkboxes[i].type == 'checkbox') {
                         checkboxes[i].checked = false;
                     }
                 }
                 var new_input = ''
                for (var i = 0; i < list_checked.length; i++) {
                    new_input = new_input+'<input type="hidden" name="chkbox[]" id="chkbox[]" value="'+list_checked[i]+'">'
                    //Do something
                }

                document.getElementById("wrapper-chkbx").innerHTML = new_input;
             }
         }
        
        
        function stateChkbx(ele){
            var selectedChkId = document.getElementById(ele);

            if (selectedChkId.checked == true){
                var valueChk = selectedChkId.value;
                list_checked.push(valueChk);
                var new_input = ''
                for (var i = 0; i < list_checked.length; i++) {
                    new_input = new_input+'<input type="hidden" name="chkbox[]" id="chkbox[]" value="'+list_checked[i]+'">'
                    //Do something
                }

                document.getElementById("wrapper-chkbx").innerHTML = new_input;

            } else {
                var valueChk = selectedChkId.value;
                const index = list_checked.indexOf(valueChk);
                if (index > -1) {
                    list_checked.splice(index, 1); // 2nd parameter means remove one item only
                }
                var new_input = ''
                for (var i = 0; i < list_checked.length; i++) {
                    new_input = new_input+'<input type="hidden" name="chkbox[]" id="chkbox[]" value="'+list_checked[i]+'">'
                    //Do something
                }

                document.getElementById("wrapper-chkbx").innerHTML = new_input;
            }
        }
    </script>
    
{% endblock %}